@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  min-height: 100vh;
  background: #000;
  overflow-x: hidden;
}
